@charset "UTF-8";

body {
    background-image: url('../../img/backgrounds/indexBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: #E9F3FD;
}

.header {
    font-size: 2.75rem;
    color: #525252;
    font-weight: bold;
}

.memo {
    color: #323232;
    font-weight: 600;
}